*{
  padding: 0;
  margin: 0
}
body{
  overflow-x: hidden;
}
.create-account{
  cursor: pointer;
}
.login-option p{
  position: relative;
  color: rgba(0,0,0,.6);
}
.login-option p::before{
  content: '';
  width: 580px;
  height: 2px;
  background-color: rgba(0,0,0,.1);
  position: absolute;
  top: 50%;
  left: 0%;
}
.login-option p::after{
  content: '';
  width: 580px;
  height: 2px;
  background-color: rgba(0,0,0,.1);
  position: absolute;
  top: 50%;
  right: 0%;
}
.google-icon{
  width: 50px;
  height: 50px;
}
.fa-solid{
  font-size: 20px;
}
.accordion-custom{
  margin-bottom: 300px;
}